
.fillimg{
    max-width: 400px;
    max-height: 400px;
    object-fit: fill;
    object-position: center;
    }
.holder{
    flex: 1;
}
.picdiv{
    width: 250px;
    height: 250px;
}
.header{
    flex: 1;
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
    font-family: verdana;
    border-radius: 10px;
    text-align: center;
    }
    .content{
    flex: 1;
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-family: verdana;
    font-size: 14px;
    max-width: 100%;
    }